body{
  background:url(../assets/images/fondo-1.jpg) no-repeat center center;
  background-size: cover;
}
.container{
  margin: 0px;

}
.vh-100{
  height: 100vh;
}
.login{
  border-radius: 8px; 
  margin: 70px 35px;
}
.logo-login{
  margin-top: 30px;
  
  padding: 0px;
}