body {
  background:url(../assets/images/fondo-2.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: bottom;
}
nav {
  background-color: white;
}
.background-profile{
  background-color: #224099;
  color: white;
}
img[alt="profile"]{
  height: 20vh;
  margin-top: 1rem;
}
section img {
  width: 100%;
}
.list {
  background-color: rgba(128, 128, 128, 0.582);
  color: white;
}
.list li:active {
  background-color: white;
  color: black;
}
.list a {
  margin-right: 1em;
  background-color: #224099;
}
main {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-wrapper a {
  color: #224099;
}