.circle-topics {
  border: 1px solid black;
  height: 140px;
  background-color: silver; 
  margin-bottom: 15px;
  border-radius: 5px;
  margin-left: 1.4em!important;
  margin-top: 3em;
  padding: 0!important;
}
.circle-topics  img{
  width: 100%;
  height: 100%;
}

.top h4{
  display: inline;
  color: #233e99;
}

.all-circle {
  margin-top: 20%;
}


body nav {
  background-color: white;
}

body i {
  color: #233e99;
}

body .top {
  margin-top: 10px;
}

body.row .all-circle .s12 {
  margin-left: 14px;
}

.top h4 {
  margin-left: 28%;
}

body .nav-wrapper div.input-field {
  margin-left: 10px;
}

