<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inteligo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/jquery-comments.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" href="../css/topics.css">
  <link rel="stylesheet" href="../css/profile.css">
</head>

<body class="row">
    <header>
        <nav>
          <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="sass.html">Sass</a>
              </li>
              <li>
                <a href="badges.html">Components</a>
              </li>
              <li>
                <a href="collapsible.html">Javascript</a>
              </li>
              <li>
                <a href="mobile.html">Mobile</a>
              </li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
          <div class="row background-profile">
            <div class="col s6">
              <img class="circle responsive-img" src="../assets/images/profile.jpg" alt="profile">
            </div>
            <div class="col s6">
              <h3>Hola,</h3>
              <span id="name-profile"></span>
            </div>
            <div class="col s12">
              <p id="email-profile">cgaribotto@inteligogroup.com</p>
            </div>
          </div>
          <li>
            <a href="sass.html">
              <i class="material-icons">inbox</i>Inbox</a>
          </li>
          <li>
            <a href="badges.html">
              <i class="material-icons">send</i>Outbox</a>
          </li>
          <li>
            <a href="collapsible.html">
              <i class="material-icons">delete</i>Trash</a>
          </li>
          <li>
            <a href="mobile.html">
              <i class="material-icons">report</i>Spam</a>
          </li>
          <li>
            <a href="mobile.html">
              <i class="material-icons">message</i>Forums</a>
          </li>
          <li>
            <a href="mobile.html">
              <i class="material-icons">flag</i>Updates</a>
          </li>
          <li>
            <a href="mobile.html">
              <i class="material-icons">local_offer</i>Promos</a>
          </li>
          <li>
            <a href="mobile.html">
              <i class="material-icons">local_grocery_store</i>Purchases</a>
          </li>
        </ul>
      </header>
  <ul class="sidenav" id="mobile-demo">
    <div class="row background-profile">
      <div class="col s6">
        <img class="circle responsive-img" src="../assets/images/profile.jpg" alt="profile">
      </div>
      <div class="col s6">
        <h3>Hola Claudia</h3>
      </div>
      <div class="col s12">
        <p>cgaribotto@inteligogroup.com</p>
      </div>
    </div>
    <li>
      <a href="sass.html">
        <i class="material-icons">inbox</i>Inbox</a>
    </li>
    <li>
      <a href="badges.html">
        <i class="material-icons">send</i>Outbox</a>
    </li>
    <li>
      <a href="collapsible.html">
        <i class="material-icons">delete</i>Trash</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">report</i>Spam</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">message</i>Forums</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">flag</i>Updates</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">local_offer</i>Promos</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">local_grocery_store</i>Purchases</a>
    </li>
  </ul>

  <div class="row">
    <div class="top col s12">
      <a href="detalle.html"><i class="material-icons">chevron_left</i></a>
      <h4 class=" center-align">Noticias</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
      <div id="rateYo"></div>
    </div>
  </div>


  <section class="news-container">
  </section>
  <div id="fb-root">
      <div class='input-field col s12'>
                  <textarea id='textarea1' class='materialize-textarea flow-text' data-length='120'></textarea>
                  <label for='textarea1 flow-text'>Comentario..</label>
                  <a class='waves-effect waves-light btn postext'>Post</a>
              </div>
              <div class="content-text">

          </div>
  </div>

    </div>
  <script src="../vendors/jquery/jquery-3.2.1.slim.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/topics.js"></script>
  <script src="../js/detalle.js"></script>
  <script src="../js/news.js"></script>
<script type="text/javascript" src="../js/jquery-comments.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
  $('#comments-container').comments({
    profilePictureURL: 'https://app.viima.com/static/media/user_profiles/user-icon.png',
    getComments: function(success, error) {
        var commentsArray = [{
            id: 1,
            created: '2015-10-01',
            content: 'Inteligo te da la bienvenida',
            fullname: 'INTELIGO',
            upvote_count: 2,
            user_has_upvoted: false
        }];
        success(commentsArray);
    }
});

// Initialize Firebase
var config = {
  apiKey: "AIzaSyByPzXvMEw34UbhPkEKSuAO3TTssAlPApc",
  authDomain: "inteligo-reto.firebaseapp.com",
  databaseURL: "https://inteligo-reto.firebaseio.com",
  projectId: "inteligo-reto",
  storageBucket: "inteligo-reto.appspot.com",
  messagingSenderId: "615168773810"
};
firebase.initializeApp(config);
</script>
</body>
</html>
