<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inteligo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/topics.css">
  <link rel="stylesheet" href="../css/profile.css">
</head>

<body class="row">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <div id="search" class="input-field col s6">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
      </div>
      <i class="material-icons">search</i>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="sass.html">Sass</a>
        </li>
        <li>
          <a href="badges.html">Components</a>
        </li>
        <li>
          <a href="collapsible.html">Javascript</a>
        </li>
        <li>
          <a href="mobile.html">Mobile</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <div class="row background-profile">
      <div class="col s6">
        <img class="circle responsive-img" src="../assets/images/profile.jpg" alt="profile">
      </div>
      <div class="col s6">
        <h3>Hola Claudia</h3>
      </div>
      <div class="col s12">
        <p>cgaribotto@inteligogroup.com</p>
      </div>
    </div>
    <li>
      <a href="sass.html">
        <i class="material-icons">inbox</i>Inbox</a>
    </li>
    <li>
      <a href="badges.html">
        <i class="material-icons">send</i>Outbox</a>
    </li>
    <li>
      <a href="collapsible.html">
        <i class="material-icons">delete</i>Trash</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">report</i>Spam</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">message</i>Forums</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">flag</i>Updates</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">local_offer</i>Promos</a>
    </li>
    <li>
      <a href="mobile.html">
        <i class="material-icons">local_grocery_store</i>Purchases</a>
    </li>
  </ul>

  <div class="top col s12">
    <a href="profile.html">  <i class="material-icons">chevron_left</i></a>

    <h4>Tópicos</h4>
  </div>
  <div>
    <ul class="list-topics"></ul>
  </div>

  <script src="../vendors/jquery/jquery-3.2.1.slim.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/topics.js"></script>
  <script src="../js/data.js"></script>
</body>

</html>
